html:not([dir=rtl]) .c-sidebar-nav-icon:first-child {
    margin-top: -5px;
}

.c-icon {
    margin-top: -5px !important;
}

.avatar {
    width: 200px;
}

button, input {
    overflow: auto !important;
}
